.main-container {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-color: rgb(99, 95, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  /* background: linear-gradient(120deg, #343a4f, #15172b); */
  background: white;
  border-radius: 3rem;
  width: 60%; /* 69 and 85*/
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller,
.customer {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
img {
  width: 42%;
  height: 40%;
}
.margin-top-home {
  margin-top: 2rem;
}

.seller:hover,
.customer:hover {
  /* background-color: rgb(233, 227, 227); */
  border: solid black 3px;
  background-color: #f8c1f4;
  border-radius: 3rem;
}
